GITHUB_TOKEN=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
GITHUB_OWNER=rexxu958
GITHUB_REPOSITORY=xyphoria-database
GITHUB_BRANCH=main

OWNER_USERNAME=rexxu
OWNER_PASSWORD_HASH=$2a$12$6lhlVeP3i0GO3YgdsVpLFeKTpXM4kDi54xvFVIXyQtKKCIFJdGtSS

SESSION_SECRET=31d52e06fecb262a665358ded8d55651792214d15217e7346bf3c246bb773abc
NEXT_PUBLIC_SITE_URL=http://localhost:3000

RATE_LIMIT_MAX=60
RATE_LIMIT_WINDOW_MS=60000
